/* *
{
    font-family: "Times New Roman", Times, serif;
    color: black;
    padding: 0;
    margin: 0;
} */
html,body
{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}
p
{
    color: white;
    padding: 5px;
    font-weight: bold;
    background-color: rgb(8, 8, 83);
}
.img123
{
    width: 100%;
    height: auto;
}

hr
{
    width: 100%;
    color: blue;
}
.xemchitiet
{
    text-align: right;
}
.xemchitiet a
{
    color: black;
    list-style-type: none;
}
.xemchitiet a:hover
{
    color: blue;
    list-style-type: none;
}
.tieude
{
    color:black;
}

